
@media(max-width:900px){
    .categoryes_list{
        flex-wrap: wrap;
        justify-content: center;    
    }
    .categpryes_item{
        flex-grow: 0;
        width: 160px;
    }
    .section2{
        margin-top: 100px;
    }
}

@media (max-width: 768px) {

    .products_container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: auto;
    }

    .nav-list {
        gap: 20px;
    }

    .textTitle2 {
        font-size: 72px;
        line-height: 56px;
    }

    .textText1 {
        font-size: 16px;
    }

    .textBtn {
        padding: 12px 40px;
        font-size: 14px;
    }

    .product_image {
        width: 120px;
        height: 120px;
    }

    .cart {
        width: 100%;
    }
    .nav{
        display: none;
    }
}

